// Color Variables
$primary-color: #ec9b05;
$secondary-color: #1a1a37;
$text-color: #ededf1;
$text-color-light: #ededf1;
$text-color-dark: #ededf1;
$body-color: #000;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", PingFang TC, Microsoft JhengHei UI, Microsoft JhengHei,sans-serif;
$secondary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", PingFang TC, Microsoft JhengHei UI, Microsoft JhengHei,sans-serif;
$icon-font: 'themify';