{{ define "main" }}

<!-- section -->
<section class="section-sm">
  <div class="container">
    <!-- <div class="row"> -->
      <!-- <div class="col-12 mb-4"> -->
        <!-- course thumb -->
        <!-- <img style="height: 500px;width: 100%;object-fit: cover;" src="{{ .Params.image | relURL }}" -->
          <!-- class="img-fluid w-100"> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- related_news -->
    <div class="row align-items-center mb-5">
      <!-- <h2>{{ .Title }}</h2> -->
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- course details -->
    <div class="row">
      <div class="col-12 mb-4 content">
        {{ .Content }}
      </div>
      <!-- teacher -->
      
    </div>
  </div>
</section>
<!-- /section -->

<!-- related course -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ i18n "document" }}</h2>
      </div>
    </div>
    <div class="row">
      <!-- course item -->
      
      {{ $documents := (where site.RegularPages.ByPublishDate "Type" "document" | ) }}
      
      {{ with $documents.Next . }}
      <a href="{{ .RelPermalink }}">
        <div class="card col-lg-6 col-sm-6 mb-5 bg-dark" style="width: 30rem; padding: 10px;">
          <h4 class="card-title">上一篇：</h4>
          <h5 class="card-subtitle mb-2 text-muted">{{ .LinkTitle }}</h5>
        </div>
      </a>
      {{ end }}
      
      {{ with $documents.Prev . }}
      <a href="{{ .RelPermalink }}">
        <div class="card col-lg-6 col-sm-6 mb-5 bg-dark" style="width: 30rem; padding: 10px;">
          <h4 class="card-title">下一篇：</h4>
          <h5 class="card-subtitle mb-2 text-muted">{{ .LinkTitle }}</h5>
        </div>
      </a>
      {{ end }}

    </div>
  </div>
</section>
<!-- /related news -->

{{ end }}